<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/base.css') }}">
        <style>
            .header-links li span {
              position: relative;
              z-index: 0;
            }
          
            .header-links li span::before {
              content: "";
              position: absolute;
              z-index: -1;
              bottom: 2px;
              left: -4px;
              right: -4px;
              display: block;
              height: 6px;
            }
          
            .header-links li.active span::before {
              background-color: #fcae04;
            }
          
            .header-links li:not(.active):hover span::before {
              background-color: #ccc;
            }
          </style>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="bg-white shadow-lg h-24 flex items-center justify-center px-4 lg:px-6 xl:px-8" role="navigation" aria-label="Main Navigation">
            <!-- Logo Section -->
            <a href="{{ url_for('university.index') }}" class="flex-shrink-0">
                <img src="https://i.ibb.co/W6ZXdqN/2021-10-26-16h20-21.png" alt="Company Logo" class="h-12 w-auto">
            </a>
        
            <!-- Navigation Links -->
            <div class="flex flex-grow items-center justify-center">
                <nav class="font-semibold text-base lg:text-lg">
                    <ul class="flex items-center space-x-4 xl:space-x-6">
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.index') }}" aria-current="page">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="#">
                                <span>About</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.programmes') }}">
                                <span>Programs</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.news') }}">
                                <span>News</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.events') }}">
                                <span>Events</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.create_application_form') }}">
                                <span>Application</span>
                            </a>
                        </li>
                        <li class="p-3 xl:p-6">
                            <a href="{{ url_for('university.bursary') }}">
                                <span>Bursaries</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        
            <!-- Button Section -->
            <div class="flex-shrink-0">
                <a href="{{ url_for('auth.login') }}">
                    <button class="bg-black hover:bg-gray-700 text-white font-bold px-4 xl:px-6 py-2 xl:py-3 rounded">Portal</button>
                </a>
            </div>
        </nav>

        <section class="content">
            <header>
              {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
          
            {% block stats %}{% endblock %}

            {% block topcourses %}{% endblock %}

            {% block events_section %}{% endblock %}

            {% block news_section %}{% endblock %}

            {% block footer %}{% endblock %}

            {% block programmes %}{% endblock %}

            {% block bursary %}{% endblock %}
          </section>
    </body>
</html>